%div{:class => "sidenav", :id => "mySidenav"}
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    = image_tag(current_user.avatar.url(:thumb), :class => "round_thumb_profile")
    - if current_user.spanish
        = link_to 'Inicio', posts_path, :method => :get
        = link_to "Perfil", profile_path(current_user), :method => :get
        = link_to "Usuario", edit_user_registration_path(current_user), :method => :get
        = link_to "Notificaciones", notifications_path(current_user), :method => :get
        - if current_user.admin
            = link_to "Exportaciones", exports_path, :method => :get
        = link_to 'Salir', destroy_user_session_path, :method => :delete
    - else
        = link_to 'Home', posts_path, :method => :get
        = link_to "Profile", profile_path(current_user), :method => :get
        = link_to "User Info", edit_user_registration_path(current_user), :method => :get
        = link_to "Notifications", notifications_path(current_user), :method => :get
        - if current_user.admin
            = link_to "Exports", exports_path, :method => :get
        = link_to 'Logout', destroy_user_session_path, :method => :delete
    %div{:class =>"language_selection"}
        = link_to 'English', {:controller => "users", :action => "view_english"}, :method => :post
        = link_to 'Español', {:controller => "users", :action => "view_spanish"}, :method => :post

%div{:class => "header_nav_bar"}
    %ul{:class => "header_nav_links"}
        %li= link_to "PROGRESO", tagged_posts_path, :method => :get, :class => "goals"
        %li= link_to "YO", posts_path, :method => :get, :class => "active"
        %div{:class => "open_nav"}
            <span onclick="openNav()">&#9776;</span>
%br
%br
%div{:class => "welcome_user"}
    - if current_user.spanish?
        Bienvenido,
        = current_user.username
    - else
        Welcome, 
        = current_user.username