%div{:class => "tag_post" }
    %div{:class => "user" }
        %div{:class => "user_image" }
            = image_tag(post.user.avatar.url(:thumb), :class => "post_thumb_profile")
        %div{:class => "user_name" }     
            = link_to "#{post.find_username}", profile_path(post.user), :class => "profile_link"
            - if current_user.username == post.find_username
                = link_to image_tag("delete.png", :class => "delete"), tagged_post_path(post), method: :delete, data: { confirm: 'Are you sure?' }
                = link_to image_tag("edit.png", :class => "edit"), edit_tagged_post_path(post)
            - elsif current_user.admin?
                = link_to image_tag("delete.png", :class => "delete"), tagged_post_path(post), method: :delete, data: { confirm: 'Are you sure?' }
    %br
    %div{:class => "content_wrap" }
        %div{:class => "filters_tag" }
            = link_to image_tag("#{post.tag}.jpg", alt: "#{post.tag}"), tagged_posts_path(:sort_tag => post.tag), :class => "tag_sort"
        %div{:class => "tagged_content" }
            %p= post.content
        %div{:class => "filters_cat" }
            = link_to image_tag("#{post.category}.png", alt: "#{post.category}"), tagged_posts_path(:sort_category => post.category), :class => "tag_sort"
    %div{:class => "timestamp" }
        - if current_user.spanish?
            Publicado en
        - else
            Posted on
        = post.created_at.strftime("%m/%d/%Y at %l:%M%p")
    %div{:class => "comments"}
        =form_tag do 
            = toggle_like_tag_button(post,current_user)
            %span.likes_count{"data-id" => "#{post.id}"}= post.likes.count
            = toggle_help_tag_button(post,current_user)
            %span.helps_count{"data-id" => "#{post.id}"}= post.helps.count
            = toggle_inspire_tag_button(post,current_user)
            %span.inspires_count{"data-id" => "#{post.id}"}= post.inspires.count
            %div{:class => "comments_links"}
                = image_tag "comment-round.png", :class => 'comments_link'
                %span{:class => "comments_count"}
                    = post.taggedcomments.count
        %br
        %section{:class => 'comment_section'}
            - post.taggedcomments.each do |c|
                = render 'shared/indiv_comment', :comment => c 
            = form_for [post, post.taggedcomments.new] do |f|
                - if current_user.spanish?
                    = text_field :taggedcomment, :body, rows: 2, cols:30, placeholder: "¡Escribe tu comentario aquí!"
                - else
                    = text_field :taggedcomment, :body, rows: 2, cols:30, placeholder: "Write your comment here!"
                = check_box_tag :anonymous, 0
                - if current_user.spanish?
                    = label_tag :anonymous, "Anónimo"
                    = submit_tag 'Crear'
                - else
                    = label_tag :anonymous, "Anonymous"
                    = submit_tag 'Create'
%br
%br