%div{:class => "comment" }
    %div{:class => "user" }
        %p= link_to "#{comment.username}", profile_path(comment.user)
        //= link_to "#{post.find_username}", profile_path(post.user), :class => "profile_link"
    %div{:class => "body"}
        %p= comment.body
    %div{:class => "timestamp" }
        %p= comment.created_at.strftime("%m/%d/%Y at %l:%M%p")
%br