%div{:class => "post" }
    %div{:class => "user" }
        %div{:class => "user_image" }
            = image_tag(post.user.avatar.url(:thumb), :class => "post_thumb_profile")
        %div{:class => "user_name" }    
            = link_to "#{post.find_username}", profile_path(post.user), :class => "profile_link"
            - if current_user.username == post.find_username
                = link_to 'Borrar', post_path(post), method: :delete, data: { confirm: 'Are you sure?' }
                = link_to 'Editar', edit_post_path(post)
            - elsif current_user.admin?
                = link_to 'Borrar', post_path(post), method: :delete, data: { confirm: 'Are you sure?' }
    %div{:class => "content" }
        %p= post.content
    %div{:class => "timestamp" }
        Publicado en
        = post.created_at.strftime("%d/%m/%Y at %l:%M%p")
    %div{:class => "social-share-button"}
        =social_share_button_tag(post.content, :url => "http://myapp.com/foo/bar")
    %div{:class => "comments"}
        =form_tag do 
            = link_to "Comentarios",post_comments_path(post), :id => 'comments_link'
            = toggle_like_button(post,current_user)
            = post.likes.count
            = toggle_help_button(post,current_user)
            = post.helps.count
            = toggle_inspire_button(post,current_user)
            = post.inspires.count
        %section{:id => 'comment_section'}
            - post.comments.each do |c|
                = render 'shared/indiv_comment', :comment => c 
            = form_for [post, post.comments.new] do |f|
                = label :comment, :body, "Tu comentario:"
                = text_field :comment, :body, rows: 2, cols:30, placeholder: "¡Escribe tu comentario aquí!"
                = check_box_tag :anonymous, 0
                = label_tag :anonymous, "Anónimo"
                = submit_tag 'Crear'
%br
            

    
%br


