%div{:class => "new_post_form"}
    = form_for :tagged_post, :action => 'create', :method => :post, :remote => true do |f|
        %div{:class => "content_label"}
            - if current_user.spanish?
                %p{:class => "tutorial_label"} HÁGALO PERTINENTE Y LOGRABLE
            - else
                %p{:class => "tutorial_label"} MAKE IT RELEVANT & ACHIEVABLE
            - if current_user.spanish?
                = f.label :content, 'Comparta una observación, oportunidad o innovación que ve acerca de...'
            - else
                = f.label :content, 'Share an observation, opportunity, or innovation you see about...'
        %br
        = f.text_area :content, :maxlength => 140, :id => 'content_area', :class => "post_content"
        %div{:class => "chars_remaining"} 
            - if current_user.spanish?
                [<span id="counter" data-maximum-length="<%= @maximum_length %>">#{@maximum_length}</span> caracteres restantes]
            - else
                [<span id="counter" data-maximum-length="<%= @maximum_length %>">#{@maximum_length}</span> characters remaining]
        %div{:class => "sort_labels"}
            - if current_user.spanish? 
                = f.label :category, 'Categoría'
            - else
                = f.label :category, 'Category'
            = f.select :category, TaggedPost.all_categories
        
            = f.label :tag, 'Sustainable UN Goal'
            = f.select :tag, TaggedPost.all_un_goals

        %div{:class => "privacy"}
            - if current_user.spanish?
                = f.label :public, 'Privado'
            - else
                = f.label :public, 'Private'
            = f.radio_button :public, false

        %div{:class => "post_submit"}
            - if current_user.spanish?
                = f.submit 'Someter'
            - else
                = f.submit 'Submit'
%br