%br
%br
%div{:class => "new_post_form"}
    = form_tag :action => 'create', :method => :post do
        %div{:class => "content_label"}
            - if current_user.spanish?
                = label :tagged_post, :content, 'Tus pensamientos'
            - else
                = label :tagged_post, :content, 'Your Thoughts'
        %br
        = text_area :tagged_post, :content, :maxlength => 140, :id => 'content_area'
        %div{:class => "chars_remaining"} [<span id="counter" data-maximum-length="<%= @maximum_length %>">#{@maximum_length}</span> characters remaining]
        
        %div{:class => "sort_labels"}
            - if current_user.spanish? 
                = label :tagged_post, :category, 'Categoría'
            - else
                = label :tagged_post, :category, 'Category'
            = select :tagged_post, :category, TaggedPost.all_categories
        
            = label :tagged_post, :tag, 'Sustainable UN Goal'
            = select :tagged_post, :tag, TaggedPost.all_un_goals

        %div{:class => "privacy"}
            - if current_user.spanish?
                = label :tagged_post, :public, 'Privado'
            - else
                = label :tagged_post, :public, 'Private'
            = radio_button :tagged_post, :public, false

        %div{:class => "post_submit"}
            - if current_user.spanish?
                = submit_tag 'Someter'
            - else
                = submit_tag 'Submit'