%br
%br
%div{:class => "new_post_form"}
    = form_tag :action => 'create', :method => :post do
        %div{:class => "content_label"}
            = label :post, :content, 'Your Thoughts'
        %br
        = text_area :post, :content, :maxlength => 140, :id=>'content_area'
        %div{:class => "chars_remaining"} [<span id="counter" data-maximum-length="<%= @maximum_length %>">#{@maximum_length}</span> characters remaining]
        
        %div{:class => "privacy"}
            = label :post, :public, 'Private'
            = radio_button :post, :public, false
            //= check_box_tag :post, :public, false

        %div{:class => "post_submit"}
            = submit_tag 'Submit'