%div{:class => "new_post_form"}
    = form_for :post, :action => 'create', :method => :post, :remote => true do |f|
        %div{:class => "content_label"}
            %p{:class => "tutorial_label"} ADELANTE
            - if current_user.spanish?
                = f.label :content, "¿Qué te motiva hoy?"
            - else
                = f.label :content, "What motivates you today?"
        %br
        = f.text_area :content, :maxlength => 140, :id=>'content_area', placeholder: "I/YO...", :class => "post_content"
        %div{:class => "chars_remaining"} 
            - if current_user.spanish?
                [<span id="counter" data-maximum-length="<%= @maximum_length %>">#{@maximum_length}</span> caracteres restantes]
            - else
                [<span id="counter" data-maximum-length="<%= @maximum_length %>">#{@maximum_length}</span> characters remaining]
        
        %div{:class => "privacy"}
            - if current_user.spanish?
                = f.label :public, "Privado"
            - else
                = f.label :public, "Private"
            = f.check_box :public, {:class => "privacy_box"}, false, true

        %div{:class => "post_submit"}
            - if current_user.spanish?
                = f.submit 'Someter'
            - else
                = f.submit 'Submit'
%br