= form_for [post, post.comments.new], :remote => true do |f|
    - if current_user.spanish?
        = text_field :comment, :body, rows: 2, cols:30, placeholder: "¡Escribe tu comentario aquí!", :class => "comment_body"
    - else
        = text_field :comment, :body, rows: 2, cols:30, placeholder: "Write your comment here!", :class => "comment_body"
    = check_box_tag :anonymous, 0
    - if current_user.spanish?
        = label_tag :anonymous, "Anónimo"
        = submit_tag 'Crear'
    - else
        = label_tag :anonymous, "Anonymous"
        = submit_tag 'Create'