%div{:class => "levels"}
    - if @viewed_user.point.regular < 5
        - if @viewed_user.point.regular >= 2
            %p= "LEVEL 1"
        - else
            %p= "LEVEL 0"
    - else
        %p= "LEVEL #{(@viewed_user.point.regular / 5) + 1}"
    %br
    - if @viewed_user.point.poverty < 5
        - if @viewed_user.point.poverty >= 2
            %p= "LEVEL 1"
        - else
            %p= "LEVEL 0"
    - else
        %p= "LEVEL #{(@viewed_user.point.poverty / 5) + 1}" 
    %br
    - if @viewed_user.point.hunger < 5
        - if @viewed_user.point.hunger >= 2
            %p= "LEVEL 1"
        - else
            %p= "LEVEL 0"
    - else
        %p= "LEVEL #{(@viewed_user.point.hunger / 5) + 1}" 
    %br
    - if @viewed_user.point.health < 5
        - if @viewed_user.point.health >= 2
            %p= "LEVEL 1"
        - else
            %p= "LEVEL 0"
    - else
        %p= "LEVEL #{(@viewed_user.point.health / 5) + 1}" 
    %br
    - if @viewed_user.point.education < 5
        - if @viewed_user.point.education >= 2
            %p= "LEVEL 1"
        - else
            %p= "LEVEL 0"
    - else
        %p= "LEVEL #{(@viewed_user.point.education / 5) + 1}" 
    %br
    - if @viewed_user.point.gender < 5
        - if @viewed_user.point.gender >= 2
            %p= "LEVEL 1"
        - else
            %p= "LEVEL 0"
    - else
        %p= "LEVEL #{(@viewed_user.point.gender / 5) + 1}" 
    %br
    - if @viewed_user.point.sanitation < 5
        - if @viewed_user.point.sanitation >= 2
            %p= "LEVEL 1"
        - else
            %p= "LEVEL 0"
    - else
        %p= "LEVEL #{(@viewed_user.point.sanitation / 5) + 1}" 
    %br
    - if @viewed_user.point.energy < 5
        - if @viewed_user.point.energy >= 2
            %p= "LEVEL 1"
        - else
            %p= "LEVEL 0"
    - else
        %p= "LEVEL #{(@viewed_user.point.energy / 5) + 1}" 
    %br
    - if @viewed_user.point.economy < 5
        - if @viewed_user.point.economy >= 2
            %p= "LEVEL 1"
        - else
            %p= "LEVEL 0"
    - else    
        %p= "LEVEL #{(@viewed_user.point.economy / 5) + 1}" 
    %br
    - if @viewed_user.point.industry < 5
        - if @viewed_user.point.industry >= 2
            %p= "LEVEL 1"
        - else
            %p= "LEVEL 0"
    - else
        %p= "LEVEL #{(@viewed_user.point.industry / 5) + 1}" 
    %br
    - if @viewed_user.point.inequalities < 5
        - if @viewed_user.point.inequalities >= 2
            %p= "LEVEL 1"
        - else
            %p= "LEVEL 0"
    - else
        %p= "LEVEL #{(@viewed_user.point.inequalities / 5) + 1}" 
    %br
    - if @viewed_user.point.cities < 5
        - if @viewed_user.point.cities >= 2
            %p= "LEVEL 1"
        - else
            %p= "LEVEL 0"
    - else
        %p= "LEVEL #{(@viewed_user.point.cities / 5) + 1}" 
    %br
    - if @viewed_user.point.consumption < 5
        - if @viewed_user.point.consumption >= 2
            %p= "LEVEL 1"
        - else
            %p= "LEVEL 0"
    - else
        %p= "LEVEL #{(@viewed_user.point.consumption / 5) + 1}" 
    %br
    - if @viewed_user.point.climate < 5
        - if @viewed_user.point.climate >= 2
            %p= "LEVEL 1"
        - else
            %p= "LEVEL 0"
    - else
        %p= "LEVEL #{(@viewed_user.point.climate / 5) + 1}" 
    %br
    - if @viewed_user.point.water < 5
        - if @viewed_user.point.water >= 2
            %p= "LEVEL 1"
        - else
            %p= "LEVEL 0"
    - else
        %p= "LEVEL #{(@viewed_user.point.water / 5) + 1}" 
    %br
    - if @viewed_user.point.land < 5
        - if @viewed_user.point.land >= 2
            %p= "LEVEL 1"
        - else
            %p= "LEVEL 0"
    - else
        %p= "LEVEL #{(@viewed_user.point.land / 5) + 1}" 
    %br
    - if @viewed_user.point.peace < 5
        - if @viewed_user.point.peace >= 2
            %p= "LEVEL 1"
        - else
            %p= "LEVEL 0"
    - else
        %p= "LEVEL #{(@viewed_user.point.peace / 5) + 1}" 
    %br
    - if @viewed_user.point.partnerships < 5
        - if @viewed_user.point.partnerships >= 2
            %p= "LEVEL 1"
        - else
            %p= "LEVEL 0"
    - else
        %p= "LEVEL #{(@viewed_user.point.partnerships / 5) + 1}" 
    %br

%div{:class => "earned"}
    %p= "#{@viewed_user.point.regular} Visions post"
    %br
    %p= "#{@viewed_user.point.poverty} Posts about 'No Poverty'"
    %br
    %p= "#{@viewed_user.point.hunger} Posts about 'Zero Hunger'"
    %br
    %p= "#{@viewed_user.point.health} Posts about 'Good Health and Well-Being'"
    %br
    %p= "#{@viewed_user.point.education} Posts about 'Quality Education'"
    %br
    %p= "#{@viewed_user.point.gender} Posts about 'Gender Equality'"
    %br
    %p= "#{@viewed_user.point.sanitation} Posts about 'Clean Water and Sanitation'"
    %br
    %p= "#{@viewed_user.point.energy} Posts about 'Affordable and Clean Energy'"
    %br
    %p= "#{@viewed_user.point.economy} Posts about 'Decent Work and Economic Growth'"
    %br
    %p= "#{@viewed_user.point.industry} Posts about 'Industry, Innovation and Infrastructure'"
    %br
    %p= "#{@viewed_user.point.inequalities} Posts about 'Reduced Inequalities'"
    %br
    %p= "#{@viewed_user.point.cities} Posts about 'Sustainale Cities and Communities'"
    %br
    %p= "#{@viewed_user.point.consumption} Posts about 'Responsible Consumption and Production'"
    %br
    %p= "#{@viewed_user.point.climate} Posts about 'Climate Action'"
    %br
    %p= "#{@viewed_user.point.water} Posts about 'Life Below Water'"
    %br
    %p= "#{@viewed_user.point.land} Posts about 'Life on Land'"
    %br
    %p= "#{@viewed_user.point.peace} Posts about 'Peace, Justice and Strong Institutions'"
    %br
    %p= "#{@viewed_user.point.partnerships} Posts about 'Partnerships for the Goals'"
    %br