<%= render :partial => 'shared/header' %>
<div class="login_bg"></div>
<h2 class="page_title">Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <% if current_user.provider != "facebook" and current_user.provider != "google_oauth2" %>
    <div class="form-group">
          <%= f.label :avatar, class: 'col-sm-2 control-label'  %>
          <div class="col-sm-6">
              <%= f.file_field :avatar %>
          </div>
    </div>
  <% end %>

  <div class="field">
    <p><%= f.label :username %><br />
    <%= f.text_field :username %></p>
    <% if current_user.provider != "facebook" and current_user.provider != "google_oauth2" %>
      <%= f.label :name %><br />
      <%= f.text_field :name %></p>
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    <% end %>
    <%= f.label :location %><br />
    <%= f.text_field :location %></p>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <% if current_user.provider != "facebook" and current_user.provider != "google_oauth2" %>
    <div class="field">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "off" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>
  
    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>
  <% end %>

  <% if current_user.provider != "facebook" and current_user.provider != "google_oauth2" %>
    <div class="field">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "off" %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
  <br></br>
  <br></br>
<% end %>
